<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNRCO Indonesia</title>
    <link rel="stylesheet" href="../assets/styles/styles.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="shortcut icon" href="../assets/images/logo-uncro.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/library/OwlCarousel2-2.3.4/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../assets/library/OwlCarousel2-2.3.4/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../assets/library/aos-master/dist/aos.css">
</head>
<body>
    <header>
        <nav class="navbar fixed-top shadow-sm">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">
                    <img src="../assets/images/logo-uncro.svg" alt="logo-uncro-indonesia" class="img-logo">
                </a>
            </div>
        </nav>
    </header>

    <main>
        <!-- Floating menu -->
        <div class="action shadow-sm" onclick="actionToggle();">
            <span class="toggle-menu"><i class="bi bi-list"></i></span>
            <span class="text-menu">Menu</span>
            <ul class="navbar-nav shadow-sm">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">A Year in Review</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Inclusive Human Development</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Economic Tranformation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Green Development, Climate Change, and Natural Disasters</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Innovation to Accelerate Progress Towards the SDGs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">UN Reform in Indonesia</a>
                </li>
            </ul>
        </div>
        <!-- End Floating menu -->
        
        <section class="hero">
            <div class="jumbotron1 p-4 mb-4">
                <div class="container py-5">
                  <p class="text-jumbotron">
                    United Nations In Indonesia <br>
                    <span>Country Results Report 2021</span>
                  </p>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-lg-2" style="position: relative;">
                        <div >
                            <a href="../review-year.html" class="menus bg-color-bluelight">A Year in Review</a>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-2" style="position: relative;">
                        <div>
                            <a href="../inclusive-human.html" class="menus bg-color-red active">Inclusive Human Development</a>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-2"  style="position: relative;">
                        <div>
                            <a href="../economic-transformation.html" class="menus bg-color-yellow">Economic Transformation</a>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-2"  style="position: relative;">
                        <div>
                            <a href="../green-development.html" class="menus bg-color-orange">Green Development, Climate Change, and Natural Disasters</a>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-2"  style="position: relative;">
                        <div>
                            <a href="../innovation-to-accelerate.html" class="menus bg-color-greenlight">Innovation to Accelerate Progress Towards the SDGs</a>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-2"  style="position: relative;">
                        <div>
                            <a href="../un-reform.html" class="menus bg-color-greendark">UN Reform in Indonesia</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="carousel-ihd">
            <div class="container">
                <div class="row mt-5">
                    <h3 class="text-title" id="title">Stronger Health Systems</h3>
                </div>
            </div>
        </section>

        <section class="carousel-ihd">
            <div class="container">
                <div class="row mt-5 mb-5">
                    <div class="owl-carousel carousel-card-infografis">
                        <div class="item">
                            <img class="card-img" src="../assets/images/strong-health/strong-infografis-1.svg" alt="Card image">
                        </div>
                        <div class="item">
                            <img class="card-img" src="../assets/images/strong-health/strong-infografis-2.svg" alt="Card image">
                        </div>
                        <div class="item">
                            <img class="card-img" src="../assets/images/strong-health/strong-infografis-3.svg" alt="Card image">
                        </div>
                        <div class="item">
                            <img class="card-img" src="../assets/images/strong-health/strong-infografis-4.svg" alt="Card image">
                        </div>
                        <div class="item">
                            <img class="card-img" src="../assets/images/strong-health/strong-infografis-5.svg" alt="Card image">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="content-ihd">
            <div class="container">
                <div class="row">
                    <p class="text-content">
                        The COVID-19 pandemic pushed Indonesia’s healthcare system to the brink in 2021. At the peak of June and July’s surge in infections, the hospital bed occupancy rate for isolation reached 78% in Indonesia, with 76% bed occupancy at Intensive Care Units. This not only taxed the country’s ability to mitigate the impact of the coronavirus but its ability to cope with an <br><br>
                        array of contemporary health challenges. In response, the Ministry of Health (MoH) increased the capacity of isolation wards by 38%, and by 138% for Intensive Care Units. <br><br>
                        UN interventions also helped ensure the system continued to function under unprecedented stress. The World Health Organization alone supported 39 activities to strengthen Indonesia’s healthcare capacity, across technology, policy, and human resources. In conjunction with Universitas Gadjah Mada, for example, the UN trained more than 1,350 officials in evidence-based health policymaking, with a further 106 trained in health planning and education. Through 14 additional training activities, a total of 4,312 participants enhanced their knowledge on various aspects of pharmacology and pharmacovigilance, particularly related to the national COVID-19 preparedness and response plan. <br><br>
                        In 2021 the UN continued to support the Government’s National Health System Reform (SKN) agenda through reviewing the impact of COVID-19 on health policies, assessing the Ministry of Health’s organisational structure, and reviewing existing regulations. Systemwide interventions include support for several major studies to better understand challenges hindering universal access to sexual and reproductive healthcare, including family planning, and a “Building Healthy Cities” program involving 440 multidisciplinary actors, which contributed to improved health access for those often left behind, greater community participation, and the development of a citizen reporting system for stunting and wasting. Through the program, the UN developed a data integration platform to support data-driven decision-making in the City of Makassar for seven healthy city-related sectors, including public works, tourism, and transportation. <br><br>
                        In 2021, the UN supported government proposals that mobilised almost US$88 million from the Global Fund—an international body designed to accelerate the end of HIV, TB, and Malaria as epidemics— towards COVID-19 rapid response and mitigation of HIV, TB, and Malaria during COVID-19. A further US$88 million was mobilized towards Indonesia’s HIV response in 2022-2023. In total, the UN helped the Government secure almost US$457 million from the Global Fund for 2021- 2023 for the national response on HIV, TB, and malaria. <br><br>
                        <img src="../assets/images/strong-health/stronge-image.jpg" alt="" class="img-fluid me-4 mb-4" width="100%">
                        <span class="list-text"><img src="../assets/images/motif-title-story.svg" alt="motif" width="40" class="me-3"> Support for Indonesia’s National Vaccination Scheme</span><br><br>
                        In response to one of the world’s fastest-spreading COVID-19 outbreaks, the Government launched an unprecedented national vaccination program that had delivered at least one dose of COVID-19 vaccination to 59.7% of Indonesia’s population by the end of 2021. The fully vaccinated percentage stood at 42.1% with more than 10,000 healthcare facilities consistently reporting their vaccination stock through the UN-MoH SMILE digital application, which allows health workers. <br><br>
                        to monitor vaccine supply chains in real-time. All told, SMILE supported Indonesia’s administration of nearly 300 million doses of COVID-19 vaccine across all 34 provinces. The UN trained some 12,000 healthcare workers on SMILE’s use, and an enhancement to the app connected the MoH with Biofarma, Indonesia’s largest vaccine manufacturer. <br><br>
                        National vaccination supplies were also bolstered through the arrival of more than 87 million COVID-19 vaccinations through the COVAX mechanism in 2021. In addition, the UN worked with more than 6000 primary health care centres across 13 provinces to shore up routine immunisation programs—with some threequarters of those facilities (74.58%) reporting stock outs of (non-COVID-19) vaccines through SMILE.  <br><br>
                        Meanwhile, the UN’s Health Governance Initiative, known as the HEART Project, enabled the Ministry of Health to update health protocols for AIDS, tuberculosis, and malaria during the COVID-19 pandemic, including protocols for healthcare workers, door-to-door services for the distribution of LLINs, ARV, and tuberculosis medication, and for drivethrough testing. Through HEART, the UN supported the Ministry in implementing the Financial Management Information System developed by the Ministry of Finance for improved grant management and program achievement, including training for 259 staff on using the system on Malaria, TB, and HIV response. <br><br>
                        <span class="list-text"><img src="../assets/images/motif-title-story.svg" alt="motif" width="40" class="me-3"> Health Provisioning for Refugees</span><br><br>
                        Changes to national regulations meant that refugees no longer received Government coverage for COVID-19 treatment, particularly hospitalisation, from June 2021. As such, the UN covered the cost of treatment for refugees, ensuring their continued access to primary health care services, life-saving treatment, and essential healthcare such as maternity support, HIV services, and vaccinations for children. <br><br>

                        Refugees continued to have access to primary health care services through government-mandated community health centres called Puskesmas. However, the UN, through its implementing partner, covered the costs of refugee referrals to secondary and tertiary health services, focusing on lifesaving, threatening, or emergency conditions. In total, the UN, through its implementing partner, conducted 10 meetings with six hospitals and two mental health clinics on referral pathways for refugees living independently and medical administration for refugees. <br><br>
                        
                        UN coordination with local governments, and with partner hospitals, also allowed refugees to access government facilities for COVID-19 related isolation and quarantine at no charge, where space was available. In 10 cities where government facilities had reached capacity, the UN provided additional facilities to assist a total of 2,990 refugees in quarantining, with 346 receiving supports during COVID-19 isolation. UN advocacy supported a Ministry of Health decree that by year’s end enabled more than 7,000 refugees—or 65% of Indonesia’s refugee population aged 12 and above—to receive their first dose of COVID-19 vaccinations under nationwide public and private vaccination schemes. <br><br>
                        
                        In 2021, the UN and its partners continued providing free and accessible HIV prevention, care, and treatment to persons of concern—including independently living refugees—as well as a quality reproductive health services. <br><br>                        
                        <span class="list-text"><img src="../assets/images/motif-title-story.svg" alt="motif" width="40" class="me-3">  HIV and AIDS</span><br><br>
                        Indonesia is committed to ending AIDS by 2030 by reaching “95-95-95”, a global target that refers to the percentages of people living with HIV (PLHIV) who should know their HIV status, the percentage receiving treatment, and the percentage who demonstrate viral suppression. <br><br>

                        Indonesia made progress on the 40-year epidemic in 2021, with HIV incidence decreasing from 0.11 people per 1,000 in 2019 to 0.10 (0.12 male, 0.08 female) in 2021. Although these numbers appear incremental, they reflect the significant efforts made to adjust and keep HIV programming running despite the COVID-19 pandemic. This continues a downward trend that has seen a 47% reduction in new HIV infections from 2010 to 2021. <br><br>

                        UNAIDS estimates that some 543,100 people have HIV in Indonesia, of which 68% know their HIV status. However, only 28% of all estimated PLHIV are on treatment, and only 8% of all estimated PLHIV demonstrate viral suppression. Although there remains a long way to go, this represents an improvement on 2020’s figures of 66%, 26%, and 6% respectively, on the same HIV treatment cascade. <br><br>

                        HIV prevalence remains low in Indonesia’s general population, but new infections are high among Key Populations, a designation that covers networks of sex workers, men who have sex with men, transgender people, and people who use drugs, among other vulnerable groups. The UN continues to provide technical assistance for the prevention, testing, and treatment of HIV. This includes the piloting in 2021 of an innovative HIV self-testing programme to expand HIV testing among Key Populations and piloting a pre-exposure prophylaxis programme. The UN also launched awareness raising campaigns on the availability of these services, especially among Key Populations. <br><br>

                        The Government continues to expand the HIV treatment network to bring services closer to communities. This includes efforts to decentralise HIV treatment from hospitals to the primary care level, especially in 238 priority HIV districts. In 2021 alone, the Ministry of Health assigned 3,200 new treatment sites, with UN support in the form of technical assistance and
                        mentoring for up to 10,082 primary health workers. The UN also supported the development of new protocols for a dual referral mechanism between health facilities and communities. Special assistance was mobilised to mitigate COVID-19’s impact on HIV services, including exploring new ways to deliver HIV tests and treatment. The UN also boosted the capacity of national networks of PLHIV and Key Populations to be engaged in the monitoring of HIV policy and programme implementation, including access to HIV services, discriminatory policies, and youth involvement. <br><br>

                        The UN helped the Government develop a national multisectoral plan on HIV, as well as a health sector strategy on HIV. This included technical assistance to generate strategic information to project HIV estimates, national HIV spending and monitoring of policy implementation. The UN also worked with the Jakarta Government to develop a provincial strategy on HIV. <br><br>

                    </p>  
                </div>
            </div>
        </section>

        <section class="read-info">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-lg-4">
                        <a href="better-newborn.html#title" class="read-info-card" data-aos="fade-in">
                            <img src="../assets/images/sub-report-4.svg" alt="" class="read-info-img shadow-sm">
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a href="wash.html#title" class="read-info-card" data-aos="fade-in">
                            <img src="../assets/images/sub-report-5.svg" alt="" class="read-info-img shadow-sm">
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a href="education.html#title" class="read-info-card" data-aos="fade-in">
                            <img src="../assets/images/sub-report-6.svg" alt="" class="read-info-img shadow-sm">
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="footer">
            <div class="container-fluid">
            <div class="row">
                    <div class="col-lg-1" style="height: 20px; background-color: #D32027;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #E8B320;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #149F4A;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #D32027;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #EC3224;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #00BCE4;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #FBBE10;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #AD1D44;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #F06222;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #EB0F69;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #F6971D;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #CA942B;"></div>
                </div>
            </div>
            <div class="container">
                <footer class="py-5">
                    <div class="row">              
                        <div class="col-md-8 mb-3">
                            <div class="row">
                                <p class="mb-2 p-0 text-footer">Contact Us :</p>
                                <ul class="nav flex-column">
                                    <li class="nav-item mb-3">
                                        <a href="#" class="p-0 text-nav-footer">
                                            <i class="bi bi-geo-alt-fill pe-3"></i>
                                            Perserikatan Bangsa-Bangsa | Menara
                                            Thamrin Lt.7, <br> <span style="padding-left: 35px;">Jl. MH.Thamrin Kav.3, Jakarta - Pusat,10250</span>
                                        </a>
                                    </li>
                                    <li class="nav-item mb-3">
                                        <a href="#" class="p-0 text-nav-footer">
                                            <i class="bi bi-telephone-fill pe-3"></i>
                                            +622129802300
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="row mt-5">
                                <p class="mb-2 p-0 text-footer">For more Informations :</p>
                                <ul class="nav list-unstyled">
                                    <li class="me-3"><a class="text-nav-footer" target="_blank" href="https://indonesia.un.org/"><i class="bi bi-globe me-2"></i>indonesia.un.org</a></li>
                                    <li class="me-3"><a class="text-nav-footer" target="_blank" href="https://www.instagram.com/uninindonesia/?hl=id"><i class="bi bi-instagram me-2"></i>UNinIndonesia</a></li>
                                    <li class="me-3"><a class="text-nav-footer" target="_blank" href="https://twitter.com/uninindonesia?s=21"><i class="bi bi-twitter me-2"></i>UNinIndonesia</a></li>
                                    <li class="me-3"><a class="text-nav-footer" target="_blank" href="https://web.facebook.com/UNinIndonesia"><i class="bi bi-facebook me-2"></i>United Nations in Indonesia</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3 d-flex justify-content-end">
                            <img src="../assets/images/logo-uncro-footer.svg" alt="logo-uncro" class="logo-footer">
                        </div>
                    </div>
                </footer>
            </div>
        </section>
    </main>
    
    
    <script src="../assets/library/jQuery/jquery-3.6.0.min.js"></script>
    <script src="../assets/library/OwlCarousel2-2.3.4/js/owl.carousel.js"></script>
    <script src="../assets/library/aos-master/dist/aos.js"></script>
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/script/script.js"></script>
    <script>
        AOS.init();
      </script>
    <script type="text/javascript">
        function actionToggle() {
            var action = document.querySelector('.action');
            action.classList.toggle('active')
        }

        var action = document.querySelector('.action');
        window.onscroll = function(){
            action.classList.toggle('show', window.scrollY >= 600);
        }
    </script>
    <script>
        $('.carousel-card-infografis').owlCarousel({
                loop: true,
                center: true,
                items: 3,
                margin: 15,
                // autoplay: true,
                // dots:true,
                nav:true,
                navText: [
                    "<img alt='Slider' src='../assets/images/prev-btn.svg'/>",
                    "<img alt='Slider' src='../assets/images/next-btn.svg'/>"],
                autoplayTimeout: 8500,
                smartSpeed: 450,
                responsive: {
                    0: {
                        items: 1
                    },
                    768: {
                        items: 2
                    },
                    1170: {
                        items: 3
                    }
                }
            });
    </script>
</body>
</html>