<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNRCO Indonesia</title>
    <link rel="stylesheet" href="assets/styles/styles.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="shortcut icon" href="assets/images/logo-uncro.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="assets/library/OwlCarousel2-2.3.4/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/library/OwlCarousel2-2.3.4/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/library/aos-master/dist/aos.css">
</head>
<body>
    <header>
        <nav class="navbar fixed-top shadow-sm">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">
                    <img src="assets/images/logo-uncro.svg" alt="logo-uncro-indonesia" class="img-logo">
                </a>
            </div>
        </nav>
    </header>

    <main>
        <!-- Floating menu -->
        <div class="action shadow-sm" onclick="actionToggle();">
            <span class="toggle-menu"><i class="bi bi-list"></i></span>
            <span class="text-menu">Menu</span>
            <ul class="navbar-nav shadow-sm">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">A Year in Review</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Inclusive Human Development</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Economic Tranformation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Green Development, Climate Change, and Natural Disasters</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Innovation to Accelerate Progress Towards the SDGs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">UN Reform in Indonesia</a>
                </li>
            </ul>
        </div>
        <!-- End Floating menu -->

        <section class="hero">
            <div class="jumbotron2 p-4 mb-4">
                <div class="container py-5">
                  <p class="text-jumbotron">
                    United Nations In Indonesia <br>
                    <span>Country Results Report 2021</span>
                  </p>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-lg-2" style="position: relative;">
                        <div >
                            <a href="review-year.html" class="menus bg-color-bluelight">A Year in Review</a>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-2" style="position: relative;">
                        <div>
                            <a href="inclusive-human.html" class="menus bg-color-red">Inclusive Human Development</a>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-2"  style="position: relative;">
                        <div>
                            <a href="economic-transformation.html" class="menus bg-color-yellow active">Economic Transformation</a>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-2"  style="position: relative;">
                        <div>
                            <a href="green-development.html" class="menus bg-color-orange">Green Development, Climate Change, and Natural Disasters</a>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-2"  style="position: relative;">
                        <div>
                            <a href="innovation-to-accelerate.html" class="menus bg-color-greenlight">Innovation to Accelerate Progress Towards the SDGs</a>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-2"  style="position: relative;">
                        <div>
                            <a href="un-reform.html" class="menus bg-color-greendark">UN Reform in Indonesia</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="carousel-ihd">
            <div class="container">
                <div class="row mt-5">
                    <h3 class="text-title">Economic Transformation</h3>
                </div>
            </div>
        </section>

        <section class="carousel-ihd-infografis">
            <!-- Slider Carousel Focus -->
            <div class='container'>
                <div class='owl-carousel carousel-infografis'>
                <!-- START -->
                    <div class='shadow-sm'>
                        <img alt='Slider' src='assets/images/economic-transformation/economic-infografis/economic-infografis-1.svg'/>
                    </div>
                    <div class='shadow-sm'>
                        <img alt='Slider' src='assets/images/economic-transformation/economic-infografis/economic-infografis-2.svg'/>
                    </div>
                    <div class='shadow-sm'>
                        <img alt='Slider' src='assets/images/economic-transformation/economic-infografis/economic-infografis-3.svg'/>
                    </div>
                    <div class='shadow-sm'>
                        <img alt='Slider' src='assets/images/economic-transformation/economic-infografis/economic-infografis-4.svg'/>
                    </div>
                <!-- End -->
                </div>
            </div>
            <!-- End Slider Carousel Focus -->
        </section>

        <section class="carousel-ihd">
            <div class="container">
                <div class="row mt-5 mb-5">
                    <div class="owl-carousel carousel-card">
                        <div class="item">
                            <a href="economic-transformation-reports/future-proofing.html#title">
                                <div class="card bg-dark text-white">
                                    <img class="card-img" src="assets/images/economic-transformation/output-button/e-report-1.jpg" alt="Card image">
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="economic-transformation-reports/training.html#title">
                                <div class="card bg-dark text-white">
                                    <img class="card-img" src="assets/images/economic-transformation/output-button/e-report-2.jpg" alt="Card image">
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="economic-transformation-reports/agriculture.html#title">
                                <div class="card bg-dark text-white">
                                    <img class="card-img" src="assets/images/economic-transformation/output-button/e-report-3.jpg" alt="Card image">
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="economic-transformation-reports/enabling.html#title">
                                <div class="card bg-dark text-white">
                                    <img class="card-img" src="assets/images/economic-transformation/output-button/e-report-4.jpg" alt="Card image">
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="economic-transformation-reports/local-firms.html#title">
                                <div class="card bg-dark text-white">
                                    <img class="card-img" src="assets/images/economic-transformation/output-button/e-report-5.jpg" alt="Card image">
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="economic-transformation-reports/building.html#title">
                                <div class="card bg-dark text-white">
                                    <img class="card-img" src="assets/images/economic-transformation/output-button/e-report-6.jpg" alt="Card image">
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="economic-transformation-reports/boosting.html#title">
                                <div class="card bg-dark text-white">
                                    <img class="card-img" src="assets/images/economic-transformation/output-button/e-report-7.jpg" alt="Card image">
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="economic-transformation-reports/better-support.html#title">
                                <div class="card bg-dark text-white">
                                    <img class="card-img" src="assets/images/economic-transformation/output-button/e-report-8.jpg" alt="Card image">
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="economic-transformation-reports/policy-making.html#title">
                                <div class="card bg-dark text-white">
                                    <img class="card-img" src="assets/images/economic-transformation/output-button/e-report-9.jpg" alt="Card image">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="content-ihd">
            <div class="container">
                <div class="row">
                    <p class="text-content">
                        From  videoconferencing to Artificial Intelligence, the tools of “industry 4.0” allowed businesses to keep moving as the world stood still during COVID-19. But the pandemic also highlighted the vast inequalities in who gets to benefit from that technology, including in Indonesia where about half the adult population still lacks access to the internet.<br><br>

                        The UN is fostering Indonesia’s transition to Industry 4.0 through its Circular Economy (CE) initiative, which encourages an economic model of production and consumption that centres on sustainability.  The year 2021, saw the completion of three comprehensive studies that identify opportunities for CE activities that advance Indonesia’s low carbon agenda across five sectors, meanwhile, the draft of the UN-produced “Circular Economy Strategy:  A Road to a National Action Plan” is currently awaiting approval from BAPPENAS. <br><br>

                        The UN also analysed the state of digital learning in Indonesia in 2021 through its “reimagining education” initiative, which included assessing digital skills among teachers and students. More than 6,500 teachers, 67% of them women, benefitted from a UN in-service 21st century life skills teacher training program delivered by the Ministry of Education, Culture Research, and Technology. In parallel, the UN continued its work on mainstreaming 21st Century skills through supporting Indonesia’s Pioneering Schools programme, which is expected to reach some 2,500 schools when fully implemented in mid-2022.<br><br>
                    </p>
                </div>
            </div>
        </section>

        <section class="story-ihd">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-sm-6">
                        <a data-bs-toggle="modal" data-bs-target="#story-1" style="cursor: pointer;">
                            <div class="card" data-aos="fade-right">
                                <div class="card-body p-0">
                                    <img src="assets/images/economic-transformation/human-interest-story/story-1.webp" class="img-card-ihd me-3" alt="..." style="float: left; width: 45%;">
                                    <p class="text-card-story mt-5">
                                        <img src="assets/images/motif-read-blue.svg" alt="motif-read" class="me-2" width="40">Ariel's Story
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a  data-bs-toggle="modal" data-bs-target="#story-2" style="cursor: pointer;">
                            <div class="card" data-aos="fade-left">
                                <div class="card-body p-0">
                                    <img src="assets/images/economic-transformation/human-interest-story/story-2.webp" class="img-card-ihd me-3" alt="..." style="float: left; width: 45%;">
                                    <p class="text-card-story mt-5">
                                        <img src="assets/images/motif-read-blue.svg" alt="motif-read" class="me-2" width="40">Nissa's Story
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="content-ihd">
            <div class="container">
                <div class="row">
                    <p class="text-content">
                        Preparing for the future means ensuring food security. The UN is supporting multi-stakeholder efforts to transform Indonesia’s agri-food systems and ensure affordable, healthy diets for all. In 2021, the UN brought together the Ministry of Agriculture and the International Centre for Tropical Agriculture’s Alliance Biodiversity to develop a project document on promoting Indonesian crop diversity towards making global food systems more resilient.<br><br>

                        The UN also established 100 home gardens and 29 demonstration plots for peatland-friendly agricultural products in rural Sumatra and Kalimantan in 2021 and helped almost 70,000 hectares of land receive certification from the organic certification body, INOFICE. Meanwhile, more than 310,000 fisheries workers benefited from the improved governance of fisheries commodities production on land and at sea.<br><br>

                        Indonesia’s 64.5 million young people constitute the most-educated portion of the country’s population, yet many are excluded from economic opportunities and social participation—a predicament the COVID-19 pandemic has only intensified.<br><br>

                        Through its Youth Entrepreneurship and Employment   Support   Services (YESS) programme, the UN provides young rural men and women with a means to access economic opportunities. By year’s end, the project had identified nearly 60,000 potential beneficiaries of which 20,719 have already received on subjects such as start-up management and financial literacy, as well as business plan and proposal development.<br><br>
                    </p>
                </div>
            </div>
        </section>

        <section class="story-ihd">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-sm-6">
                        <a data-bs-toggle="modal" data-bs-target="#story-3" style="cursor: pointer;">
                            <div class="card" data-aos="fade-right">
                                <div class="card-body p-0">
                                    <img src="assets/images/economic-transformation/human-interest-story/story-3.webp" class="img-card-ihd me-3" alt="..." style="float: left; width: 45%;">
                                    <p class="text-card-story mt-5">
                                        <img src="assets/images/motif-read-blue.svg" alt="motif-read" class="me-2" width="40">Dimas's Story
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a  data-bs-toggle="modal" data-bs-target="#story-4" style="cursor: pointer;">
                            <div class="card" data-aos="fade-left">
                                <div class="card-body p-0">
                                    <img src="assets/images/economic-transformation/human-interest-story/story-4.webp" class="img-card-ihd me-3" alt="..." style="float: left; width: 45%;">
                                    <p class="text-card-story mt-5">
                                        <img src="assets/images/motif-read-blue.svg" alt="motif-read" class="me-2" width="40">Ali's Story
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="content-ihd">
            <div class="container">
                <div class="row">
                    <p class="text-content">
                        In 2021, the UN carried out a series of activities to support   government   and   private   sector   efforts   to build   a   more   gender-equal   business   environment.  For example, at least 150 companies across multiple sectors took part in a capacity-building virtual workshop on how to translate their support of the UN’s    Women’s    Empowerment    Principles into company policies and operations.  Through the UN’s Women in STEM Indonesia Project, 842 women received training in STEM-related technical skills and of those about 20% had either found employment or created a job in the ICT sector by the end of 2021.<br><br>
                        To protect workers livelihoods, the UN ran capacity building programmes that helped 130 trade unions in the palm oil sector more effectively advocate for their members’ rights, including the right to freedom of association and collective bargaining. Separately, more than 78 million informal workers stand to benefit from UN-supported scale-up of occupational health services for workers in the informal sector, while 1.5 million health workers could benefit from new UN-supported guidelines on health protections for health workers. <br><br>
                        The principles of equality and anti-discrimination are enshrined in Indonesia’s Constitution and its labour law.   Still, marginalised   groups   including   women, people living with HIV, key populations vulnerable to HIV infection, indigenous peoples, and people with disabilities often struggle against inequitable access to employment opportunities and social protection. The UN is working at all levels to promote more inclusive, non-discriminatory workplaces. In 2021, a UN collaboration with Indonesia’s Ministry of Manpower on policy development brought about a revision of Indonesia’s Equal Employment Opportunity guidelines that advances women’s economic empowerment.<br><br>
                    </p>
                </div>
            </div>
        </section>

        <section class="footer">
            <div class="container-fluid">
            <div class="row">
                    <div class="col-lg-1" style="height: 20px; background-color: #D32027;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #E8B320;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #149F4A;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #D32027;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #EC3224;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #00BCE4;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #FBBE10;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #AD1D44;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #F06222;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #EB0F69;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #F6971D;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #CA942B;"></div>
                </div>
            </div>
            <div class="container">
                <footer class="py-5">
                    <div class="row">
                        <div class="col-md-8 mb-3">
                            <div class="row">
                                <p class="mb-2 p-0 text-footer">Contact Us :</p>
                                <ul class="nav flex-column">
                                    <li class="nav-item mb-3">
                                        <a href="#" class="p-0 text-nav-footer">
                                            <i class="bi bi-geo-alt-fill pe-3"></i>
                                            Perserikatan Bangsa-Bangsa | Menara
                                            Thamrin Lt.7, <br> <span style="padding-left: 35px;">Jl. MH.Thamrin Kav.3, Jakarta - Pusat,10250</span>
                                        </a>
                                    </li>
                                    <li class="nav-item mb-3">
                                        <a href="#" class="p-0 text-nav-footer">
                                            <i class="bi bi-telephone-fill pe-3"></i>
                                            +622129802300
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="row mt-5">
                                <p class="mb-2 p-0 text-footer">For more Informations :</p>
                                <ul class="nav list-unstyled">
                                    <li class="me-3"><a class="text-nav-footer" target="_blank" href="https://indonesia.un.org/"><i class="bi bi-globe me-2"></i>indonesia.un.org</a></li>
                                    <li class="me-3"><a class="text-nav-footer" target="_blank" href="https://www.instagram.com/uninindonesia/?hl=id"><i class="bi bi-instagram me-2"></i>UNinIndonesia</a></li>
                                    <li class="me-3"><a class="text-nav-footer" target="_blank" href="https://twitter.com/uninindonesia?s=21"><i class="bi bi-twitter me-2"></i>UNinIndonesia</a></li>
                                    <li class="me-3"><a class="text-nav-footer" target="_blank" href="https://web.facebook.com/UNinIndonesia"><i class="bi bi-facebook me-2"></i>United Nations in Indonesia</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3 d-flex justify-content-end">
                            <img src="assets/images/logo-uncro-footer.svg" alt="logo-uncro" class="logo-footer">
                        </div>
                    </div>
                </footer>
            </div>
        </section>
    </main>


    <!-- Modal Story -->
    <div class="modal fade" id="story-1" aria-hidden="true" aria-labelledby="story-1" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
          <div class="modal-content">
              <div class="modal-body pt-0 pb-0">
                  <div class="row">
                        <div class="col-lg-5 p-0">
                            <img src="assets/images/economic-transformation/human-interest-story/Foto/story-op1.jpg" class="img-responsive me-3" height="100%" width="100%" alt="...">
                        </div>
                    <div class="col-lg-7">
                        <button type="button" class="btn-close me-3 mb-3 my-3 bg-white" data-bs-dismiss="modal" aria-label="Close" style="float: right;"></button>
                        <p class="text-content" style="font-size: 18px; padding: 40px 20px 40px 20px;">
                          <span class="text-modal-story"><img src="assets/images/motif-read-blue.svg" alt="motif-read" class="me-2" width="40">Ariel’s Story </span><br>
                          <span class="text-submodal-story">Digital Literacy Training Boosts the Confidence of Students with Disabilities</span><br><br>
                          Vocational school student Ariel Fitriani has never let her blindness get in the way of achieving her dream of becoming a professional singer. But the onset of the COVID-19 pandemic restricted the 17-year-old’s movements in a way her blindness had never done. <br><br>
                          “For more than a year, I was stuck at home taking classes online,” Ariel said, adding that not being able to sing at public events, perform in the Javanese orchestra, or be active in her community was beginning to take a toll on her self-esteem and confidence. <br><br>
                          Her confidence received a boost in March 2021, when Ariel and her friends from the Semarang City Disabled Friends Community were asked to participate in a UNICEF-supported Life Skills Training session as part of the Safe and Friendly Environment for Children programme. Operating in 10 districts and cities in Central Java Province, the programme equips children and adolescents to become peer educators by teaching life skills like digital literacy and reproductive health, while also facilitating access to child protection services for those in need. <br><br>
                          “What made these sessions so exciting was that they were designed specifically for adolescents and young people with disabilities. In all the years I have interacted with my peers, especially those with intellectual disabilities, we have never been offered reproductive health education,” Ariel said. “The digital literacy and safety information kits are also important because my friends [with disabilities] don’t have a clue on how to safely use social media and don’t fully understand the risks when they interact with strangers online.”<br><br>
                        </p>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="story-2" aria-hidden="true" aria-labelledby="story-1" tabindex="-1">
        <div class="modal-dialog modal-fullscreen modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body pt-0 pb-0">
                <div class="row">
                    <div class="col-lg-5 p-0">
                        <img src="assets/images/economic-transformation/human-interest-story/Foto/story-op2.jpg" class="img-responsive me-3" height="100%" width="100%"  alt="...">
                    </div>
                    <div class="col-lg-7">
                        <button type="button" class="btn-close me-3 mb-3 my-3 bg-white" data-bs-dismiss="modal" aria-label="Close" style="float: right;"></button>
                        <p class="text-content" style="font-size: 18px; padding: 40px 20px 40px 20px;">
                        <span class="text-modal-story"><img src="assets/images/motif-read-blue.svg" alt="motif-read" class="me-2" width="40">Nissa’s Story</span> <br>
                        <span class="text-submodal-story">How Family Farming Contributes to Greater Food Security</span><br><br>
                        Farmer and teacher Nissa Wargadipuras’s earliest memories involve learning how to live with nature. Her childhood home’s backyard in the hilly town of Garut, West Java was a little forest where her father planted vegetables, herbs, and fruits and her mother produced traditional medicine from the plants. “Whenever I came home from school, my mother always asked me to do some ‘hunting,’” Nissa says. “I ‘hunted’ guava, coconut, turmeric, cayenne pepper, everything. I could find all that I needed in my parent’s backyard.” <br><br>

                        Nissa’s childhood memories speak to the deep roots of family farming in rural Indonesia. Yet, as early as her high school years in 1989, Nissa realized her family’s idyllic lifestyle was under threat. For almost two decades she contended with land rights violations, and mobilized farmers through one of Indonesia’s largest farming unions to resist exploitative agribusinesses and labour exploitation. The years of struggle bore fruit: in 2008 Nissa and her husband were able to set up an Islamic Boarding School to teach agroecology, food security, and religion to young people, and preserve traditional family farming practices for another generation. “Students must eat from the farms that they manage,” explains Nissa. “This is one of our main lessons.”<br><br>

                        Through its Family Farming Initiative, FAO is supporting Nissa and other defenders of smallholder farming to help a new generation of children regain confidence in a heritage that preserves traditional food products, contributes to a balanced diet, uses natural resources sustainably, and safeguards the world’s biodiversity.<br><br>
                        </p>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="story-3" aria-hidden="true" aria-labelledby="story-1" tabindex="-1">
        <div class="modal-dialog modal-fullscreen modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body pt-0 pb-0">
                <div class="row">
                    <div class="col-lg-5 p-0">
                        <img src="assets/images/economic-transformation/human-interest-story/Foto/story-op3.jpg" class="img-responsive me-3" height="100%" width="100%" alt="...">
                    </div>
                    <div class="col-lg-7">
                        <button type="button" class="btn-close me-3 mb-3 my-3 bg-white" data-bs-dismiss="modal" aria-label="Close" style="float: right;"></button>
                        <p class="text-content" style="font-size: 18px; padding: 40px 20px 40px 20px;">
                            <span class="text-modal-story"><img src="assets/images/motif-read-blue.svg"  alt="motif-read" class="me-2" width="40">Dimas’s Story</span> <br>
                            <span class="text-submodal-story">How Family Farming Contributes to Greater Food Security</span><br><br>
                            As the first transgender man in Medan, North Sumatra to undergo medical transition, Dimas Cahya is not the sort to be deterred by a lack of precedent. Still, he did not anticipate that becoming the first transgender man to legally change his name in the conservative city of more than 2.4-million people would be such a convoluted process.<br><br>

                            Legal recognition in the form of an identity card, particularly one that matches a person’s true identity, is a human right that is not enjoyed by everyone equally. It took ridicule from a legal aid organization, unexpected requests for documents, tips from friends in Jakarta, and an audience with a judge who questioned whether a name change would “erase [his] identity” before Dimas achieved his goal. But his persistence over six weeks paid off. “This is the name I identify with, and I was determined to have it recognized legally,” says Dimas, who requested to be identified with an alias for this story.<br><br>

                            Dimas’s name change was supported throughout by the Crisis Response Mechanism Consortium—made up of the UNAIDS in Indonesia and four civil society organizations—whose mission is to mobilize resources for sexual and gender diverse people in crisis situations. Next up, Dimas says, is getting his new name on his national identity card—a target his own precedent suggests he can achieve.<br><br>
                        </p>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="story-4" aria-hidden="true" aria-labelledby="story-1" tabindex="-1">
        <div class="modal-dialog modal-fullscreen modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body pt-0 pb-0">
                <div class="row">
                    <div class="col-lg-5 p-0">
                        <img src="assets/images/economic-transformation/human-interest-story/Foto/story-op4.jpg" class="img-responsive me-3" height="100%" width="100%"  alt="...">
                    </div>
                    <div class="col-lg-7">
                        <button type="button" class="btn-close me-3 mb-3 my-3 bg-white" data-bs-dismiss="modal" aria-label="Close" style="float: right;"></button>
                        <p class="text-content" style="font-size: 18px; padding: 40px 20px 40px 20px;">
                        <span class="text-modal-story"><img src="assets/images/motif-read-blue.svg" alt="motif-read" class="me-2" width="40">Ali’s Story</span> <br>
                        <span class="text-submodal-story">Refugees in Indonesia Get Expanded Access to COVID-19 Vaccinations</span><br><br>
                        As an official UNHCR interpreter, former baker Ali Madad Ibrahimi has been a crucial source of support for Afghan refugees in Indonesia since he was forced to flee the Taliban’s persecution eight years ago. <br><br>

                        But for most of 2021, Ali was only able to offer remote interpreting services. Government COVID-19 regulations meant that even boarding a bus to a neighbourhood where many Afghan refugees live required showing a vaccine certificate—something Ali did not have as a refugee ineligible for inclusion in the national scheme. <br><br>

                        That changed in late September 2021, when thanks to a private scheme jointly organized by several UN agencies, Ali became one of Indonesia’s first refugees to be fully vaccinated. Around the same time, on Sept 21, the Ministry of Health issued a new decree to dramatically increase access to vaccinations for the 13,273 refugees in Indonesia, reflecting broader steps towards greater inclusion for one of the most vulnerable groups in the country. The move followed months of advocacy from the UN in Indonesia. <br><br>

                        “I’m very grateful to the UN team for providing vaccines for me and other refugees,” Ali said at an October 7 vaccination event for refugees co-organized by UNHCR, DKI Jakarta Provincial Government, and the Indonesia Chambers of Commerce and Industry. “Now that I have been fully vaccinated, I can get back to my routine, assisting my fellow refugees who need interpreters,” he added.<br><br>
                    </p>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
    <!-- End Modal Story -->


    <script src="assets/library/jQuery/jquery-3.6.0.min.js"></script>
    <script src="assets/library/OwlCarousel2-2.3.4/js/owl.carousel.js"></script>
    <script src="assets/library/aos-master/dist/aos.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script>
        AOS.init();
    </script>
    <script type="text/javascript">
        function actionToggle() {
            var action = document.querySelector('.action');
            action.classList.toggle('active')
        }

        var action = document.querySelector('.action');
        window.onscroll = function(){
            action.classList.toggle('show', window.scrollY >= 600);
        }
    </script>
    <script>
        $('.carousel-card').owlCarousel({
                loop: true,
                center: false,
                items: 9,
                margin: 15,
                autoplay: true,
                // dots:true,
                nav:true,
                navText: [
                    "<img alt='Slider' src='assets/images/prev-btn.svg'/>",
                    "<img alt='Slider' src='assets/images/next-btn.svg'/>"],
                autoplayTimeout: 8500,
                smartSpeed: 450,
                responsive: {
                    0: {
                        items: 1
                    },
                    768: {
                        items: 2
                    },
                    1170: {
                        items: 4
                    }
                }
            });
    </script>
    <script>
        $('.carousel-infografis').owlCarousel({
        loop: true,
        center: true,
        items: 3,
        margin: 150,
        autoplay: true,
        // dots:true,
        nav:true,
        navText: [
            "<img alt='Slider' src='assets/images/prev-btn.svg'/>",
            "<img alt='Slider' src='assets/images/next-btn.svg'/>"],
        autoplayTimeout: 8500,
        smartSpeed: 450,
        responsive: {
                0: {
                    items: 1
                },
                768: {
                    items: 2
                },
                1170: {
                    items: 3
                }
            }
        });
        </script>
</body>
</html>
