<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNRCO Indonesia</title>
    <link rel="stylesheet" href="assets/styles/styles.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="shortcut icon" href="assets/images/logo-uncro.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="assets/library/aos-master/dist/aos.css">
    <link rel="stylesheet" href="assets/library/OwlCarousel2-2.3.4/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/library/OwlCarousel2-2.3.4/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/library/aos-master/dist/aos.css">
</head>
<body>
    <header>
        <nav class="navbar fixed-top shadow-sm">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">
                    <img src="assets/images/logo-uncro.svg" alt="logo-uncro-indonesia" class="img-logo">
                </a>
            </div>
        </nav>
    </header>

    <main>
        <section class="hero">
            <div class="jumbotron5 p-4 mb-4">
                <div class="container py-5">
                  <p class="text-jumbotron">
                    United Nations In Indonesia <br>
                    <span>Country Results Report 2021</span>
                  </p>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-lg-2" style="position: relative;">
                        <div >
                            <a href="review-year.html" class="menus bg-color-bluelight">A Year in Review</a>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-2" style="position: relative;">
                        <div>
                            <a href="inclusive-human.html" class="menus bg-color-red">Inclusive Human Development</a>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-2"  style="position: relative;">
                        <div>
                            <a href="economic-transformation.html" class="menus bg-color-yellow">Economic Transformation</a>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-2"  style="position: relative;">
                        <div>
                            <a href="green-development.html" class="menus bg-color-orange">Green Development, Climate Change, and Natural Disasters</a>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-2"  style="position: relative;">
                        <div>
                            <a href="innovation-to-accelerate.html" class="menus bg-color-greenlight active">Innovation to Accelerate Progress Towards the SDGs</a>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-2"  style="position: relative;">
                        <div>
                            <a href="un-reform.html" class="menus bg-color-greendark">UN Reform in Indonesia</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="about">
            <div class="container">
                <div class="row">
                    <h3 class="text-title">Innovation to Accelerate Progress<br> Towards the SDGs</h3>
                </div>
            </div>
        </section>

        <section class="carousel-ihd">
            <div class="container">
                <div class="row mt-5 mb-5">
                    <div class="owl-carousel carousel-card">
                        <div class="item">
                            <a href="innovation-to-accelerate-report/national-policies.html#title">
                                <div class="card bg-dark text-white">
                                    <img class="card-img" src="assets/images/innovation-to-accelerate/output-button/e-report-1.jpg" alt="Card image">
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="innovation-to-accelerate-report/innovative.html#title">
                                <div class="card bg-dark text-white">
                                    <img class="card-img" src="assets/images/innovation-to-accelerate/output-button/e-report-2.jpg" alt="Card image">
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="innovation-to-accelerate-report/tech.html#title">
                                <div class="card bg-dark text-white">
                                    <img class="card-img" src="assets/images/innovation-to-accelerate/output-button/e-report-3.jpg" alt="Card image">
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="innovation-to-accelerate-report/national-policies.html#title">
                                <div class="card bg-dark text-white">
                                    <img class="card-img" src="assets/images/innovation-to-accelerate/output-button/e-report-1.jpg" alt="Card image">
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="innovation-to-accelerate-report/innovative.html#title">
                                <div class="card bg-dark text-white">
                                    <img class="card-img" src="assets/images/innovation-to-accelerate/output-button/e-report-2.jpg" alt="Card image">
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="innovation-to-accelerate-report/tech.html#title">
                                <div class="card bg-dark text-white">
                                    <img class="card-img" src="assets/images/innovation-to-accelerate/output-button/e-report-3.jpg" alt="Card image">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="inovation">
            <div class="container">
                <div class="row mb-4">
                    <p class="text-content">
                        <img src="assets/images/innovation-to-accelerate/infografis/infografis-1.svg" class="img-fluid me-4" style="float: left; width: 40%;" alt="img-conten-1">
                        COVID-19 put beyond all doubt that none of us is safe until we are all safe and underscored the urgency of accelerating the SDGs and meeting their central promise to leave no one behind.<br><br>
        
                        The UN continues to work with the Government of Indonesia on policy frameworks that advance the SDGs and ensure no one is left behind. On Goal Two, Zero Hunger, for example, the UN is supporting the Government’s development of e-Agriculture strategies that bolster food security through its Decade of Family Farming Global Action Plan. The UN also supports the expansion of a Ministry of Agriculture-led apprenticeship scheme for agriculture-based occupations, as well as the creation of a new financial product co-developed   with   banks, which   targets young people without financial experience and has considerable potential for national upscaling. <br><br>
        
                        On Goal Five, Gender Equality, the UN began a collaboration with the Ministry of National Development Planning to develop a national strategy on gender mainstreaming using a gender responsive budget. Upon completion in 2022, the strategy will contain executive directions on the use of gender-responsive indicators for national and sub-national government budget plans. <br><br>
        
                        And on Goal Six, Clean Water and Sanitation, the UN assisted the government in finding innovative solutions   to   water   quality   and   supply challenges, in line with the consultative roadmap on delivering safely managed water services nationwide by 2030.   Meanwhile, thematic   studies   and   policy recommendations    derived    from    two    agriculture-focused     loan     projects—IPDMIP and     READSI—contributed to new national regulations on irrigation that have increased farmers’ yields and incomes.<br><br>
                        
                        Realising the SDGs requires not just an appropriate policy framework, but the massive mobilisation of resources. Indonesia’s Ministry of National Development Planning has estimated that Indonesia needs some US$4.7 trillion to finance the achievement of the SDGs by 2030, a figure the COVID-19 pandemic will have made far higher. <br><br>
        
                        The UN is working with the Government to develop innovative financing mechanisms to close the financing gap. Officially launched in December 2021, the Joint SDG Fund-backed ASSIST Joint Programme engages four UN agencies to scale up proven and new financial instruments that can be used to leverage public and private financing towards the SDGs. The programme is   designed   to   build   the   capacity   of   institutional stakeholders to access and utilize financing to achieve the SDGs.  It mobilised a total of US$1.68 billion in resources in Indonesia in 2021, through an innovative mixture of public and private financing. <br><br>
                    </p>
                </div>                
            </div>
        </section>

        <section class="story-ihd">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-sm-6">
                        <a data-bs-toggle="modal" data-bs-target="#story-1" style="cursor: pointer;">
                            <div class="card" data-aos="fade-right">
                                <div class="card-body p-0">
                                    <img src="assets/images/innovation-to-accelerate/foto/story-1.jpg" class="img-card-ihd me-3" alt="..." style="float: left; width: 45%;">
                                    <p class="text-card-story mt-5">
                                        <img src="assets/images/motif-read-blue.svg" alt="motif-read" class="me-2" width="40">Agi's Story
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a  data-bs-toggle="modal" data-bs-target="#story-2" style="cursor: pointer;">
                            <div class="card" data-aos="fade-left">
                                <div class="card-body p-0">
                                    <img src="assets/images/innovation-to-accelerate/foto/story-2.jpg" class="img-card-ihd me-3" alt="..." style="float: left; width: 45%;">
                                    <p class="text-card-story mt-5">
                                        <img src="assets/images/motif-read-blue.svg" alt="motif-read" class="me-2" width="40">Adaifa's Story
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row mb-4">
                    <p class="text-content">
                        Through ASSIST, the UN also supported the Government’s launch of its inaugural sovereign SDG Bond in September 2021.  The bond amounted to EUR  500 million (US $584 million) at a 1.3% coupon rate in the global capital market. It focuses on financing social sectors responding to the effects of the COVID-19 pandemic, including   projects   on   social   protection, health, and education. <br><br>

                        <img src="assets/images/innovation-to-accelerate/infografis/infografis-2.svg" class="img-fluid ms-4 shadow-sm" style="float: right; width: 40%;" alt="img-conten-2">
                        Besides new financial mechanisms, the UN is also pioneering new technologies to accelerate Indonesia’s progress towards realising the SDGs. In health, for example, in   2021, four   years   ahead   of   schedule, all   34   of the   country’s   provincial   governments   were   using technology to deliver immunisation services. The UN’s SMILE digital platform had helped distribute more than 250 million COVID-19 vaccine doses to a population of some 270 million people by years’ end.  <br><br>

                        Meanwhile, a software enhancement to SMILE enabled the platform to synergise service delivery between the Ministry of Health and Indonesia’s largest vaccine manufacturer, 
                        Biofarma. The government also deployed the One Data Vaccination System to facilitate real time monitoring of COVID-19 responses, with additional data inputs from UNICEF’s RapidPro monitoring system, an open-source   platform that   allows users to input data via SMS, and other widely available communication platforms. <br><br>
                    </p>
                </div>
            </div>
        </section>

        <section class="footer">
            <div class="container-fluid">
            <div class="row">
                    <div class="col-lg-1" style="height: 20px; background-color: #D32027;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #E8B320;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #149F4A;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #D32027;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #EC3224;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #00BCE4;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #FBBE10;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #AD1D44;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #F06222;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #EB0F69;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #F6971D;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #CA942B;"></div>
                </div>
            </div>
            <div class="container">
                <footer class="py-5">
                    <div class="row">              
                        <div class="col-md-8 mb-3">
                            <div class="row">
                                <p class="mb-2 p-0 text-footer">Contact Us :</p>
                                <ul class="nav flex-column">
                                    <li class="nav-item mb-3">
                                        <a href="#" class="p-0 text-nav-footer">
                                            <i class="bi bi-geo-alt-fill pe-3"></i>
                                            Perserikatan Bangsa-Bangsa | Menara
                                            Thamrin Lt.7, <br> <span style="padding-left: 35px;">Jl. MH.Thamrin Kav.3, Jakarta - Pusat,10250</span>
                                        </a>
                                    </li>
                                    <li class="nav-item mb-3">
                                        <a href="#" class="p-0 text-nav-footer">
                                            <i class="bi bi-telephone-fill pe-3"></i>
                                            +622129802300
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="row mt-5">
                                <p class="mb-2 p-0 text-footer">For more Informations :</p>
                                <ul class="nav list-unstyled">
                                    <li class="me-3"><a class="text-nav-footer" target="_blank" href="https://indonesia.un.org/"><i class="bi bi-globe me-2"></i>indonesia.un.org</a></li>
                                    <li class="me-3"><a class="text-nav-footer" target="_blank" href="https://www.instagram.com/uninindonesia/?hl=id"><i class="bi bi-instagram me-2"></i>UNinIndonesia</a></li>
                                    <li class="me-3"><a class="text-nav-footer" target="_blank" href="https://twitter.com/uninindonesia?s=21"><i class="bi bi-twitter me-2"></i>UNinIndonesia</a></li>
                                    <li class="me-3"><a class="text-nav-footer" target="_blank" href="https://web.facebook.com/UNinIndonesia"><i class="bi bi-facebook me-2"></i>United Nations in Indonesia</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3 d-flex justify-content-end">
                            <img src="assets/images/logo-uncro-footer.svg" alt="logo-uncro" class="logo-footer">
                        </div>
                    </div>
                </footer>
            </div>
        </section>
    </main>
    
    <!-- Floating menu -->
    <div class="action shadow-sm" onclick="actionToggle();">
        <span class="toggle-menu"><i class="bi bi-list"></i></span>
        <span class="text-menu">Menu</span>
        <ul class="navbar-nav shadow-sm">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">A Year in Review</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Inclusive Human Development</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Economic Tranformation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Green Development, Climate Change, and Natural Disasters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Innovation to Accelerate Progress Towards the SDGs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">UN Reform in Indonesia</a>
            </li>
        </ul>
    </div>
    <!-- End Floating menu -->

    <!-- Modal Story -->
    <div class="modal fade" id="story-1" aria-hidden="true" aria-labelledby="story-1" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
          <div class="modal-content">
            <div class="modal-body pt-0 pb-0">
                <div class="row">
                    <div class="col-lg-5 p-0">
                        <img src="assets/images/innovation-to-accelerate/human-interest-story/Foto/op1.jpg" class="img-responsive me-3" height="100%" width="100%" alt="...">
                    </div>
                    <div class="col-lg-7">
                        <button type="button" class="btn-close me-3 mb-3 my-3 bg-white" data-bs-dismiss="modal" aria-label="Close" style="float: right;"></button>
                        <p class="text-content" style="font-size: 18px; padding: 40px 20px 40px 20px;">
                          <span class="text-modal-story"><img src="assets/images/motif-read-blue.svg" alt="motif-read" class="me-2" width="40">Agi’s Story</span><br>
                          <span class="text-submodal-story">How Good Data Lead to Good Decisions on COVID-19</span><br><br>
                          Agi Agung Galuh Purwa, who heads a technical division for digital data management at the Government of West Java, says there is a particular expression the provinces’ governor Mr. Ridwan Kamil is fond of reciting: “Good data is a good decision, bad data is a bad decision.” <br><br>
          
                          For Agi—who has been working on building a platform to enable officials to access public data through a single click on their device—the governor’s quote underscores the centrality of data to effective policymaking at the provincial level. Since June 2020, and throughout 2021 Agi has been working with Pulse Lab Jakarta as part of a data management partnership to refine an interactive public map that charts the pandemic response in West Java. It is just one of several ways the joint data innovation facility of the United Nations and the Government of Indonesia is working to bolster evidence-based policymaking and data collection systems in Indonesia. <br><br>
          
                          In 2021, the Pulse Lab team analysed the first iteration of Agi’s map, produced in 2020, and suggested several improvements toward a more user-friendly and responsive update. “The collaboration has significantly improved the ability of policymakers and West Java citizens to fight this pandemic,” says Agi.<br><br>
                        </p>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="story-2" aria-hidden="true" aria-labelledby="story-1" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
          <div class="modal-content">
            <div class="modal-body pt-0 pb-0">
                <div class="row">
                    <div class="col-lg-5 p-0">
                        <img src="assets/images/innovation-to-accelerate/human-interest-story/Foto/op2.jpg" class="img-responsive me-3" height="100%" width="100%" alt="...">
                    </div>
                    <div class="col-lg-7">
                        <button type="button" class="btn-close me-3 mb-3 my-3 bg-white" data-bs-dismiss="modal" aria-label="Close" style="float: right;"></button>
                        <p class="text-content" style="font-size: 18px; padding: 40px 20px 40px 20px;">
                            <span class="text-modal-story"><img src="assets/images/motif-read-blue.svg" alt="motif-read" class="me-2" width="40">Adaifa’s Story</span> <br>
                            <span class="text-submodal-story">How Preventing Overfishing Supports the Generations to Come</span><br><br>
                            In the coastal village of Pegagasan on Indonesia’s Madura Island, 41-year-old Adaifah oversees inspecting and sorting Blue Swimming Crabs at a cooking station frequented by up 40 fisherfolk every day. <br><br>
            
                            Indonesia is the world’s third-largest producer of blue swimming crabs, of which about 90% are exported. The crab’s high selling price makes it an economic lifeline for workers at thousands of small-scale fisheries. But over-fishing, environmentally harmful fishing gear, and unprotected nurseries and spawning grounds threaten the survival of the species—and the livelihoods of the fisherfolk who depend on it. <br><br>
            
                            That is where Adaifah and other cooking station operators play a critical role. Her collection of data on the size of the catch, and the fishing equipment used feeds into a digital system developed by the Indonesian Blue Swimming Crab Association with support from UNDP that ensures the traceability of blue swimmer crab meat from Indonesia. Adaifah also screens the fisherfolks’ catch, rejecting juvenile crabs or females bearing eggs to ensure the sustainability of the species. <br><br>
            
                            “Nature does provide us resources, but it depends on how wisely we use it,” Adaifah says, “Hopefully, my work will benefit the fishermen as well as my family. I am sure the blue swimming crab industry can continue to provide a livelihood for many people.” <br><br>
                        </p>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
    <!-- end modals -->
    
    <script src="assets/library/jQuery/jquery-3.6.0.min.js"></script>
    <script src="assets/library/OwlCarousel2-2.3.4/js/owl.carousel.js"></script>
    <!-- <script type="text/javascript">
        function actionToggle() {
            var action = document.querySelector('.action');
            action.classList.toggle('active')
        }

        var action = document.querySelector('.action');
        window.onscroll = function(){
            action.classList.toggle('show', window.scrollY >= 600);
        }
    </script> -->
    <script>
        $('.carousel-card').owlCarousel({
                loop: true,
                center: false,
                items: 5,
                margin: 15,
                // autoplay: true,
                // dots:true,
                nav:true,
                navText: [
                    "<img alt='Slider' src='assets/images/prev-btn.svg'/>",
                    "<img alt='Slider' src='assets/images/next-btn.svg'/>"],
                autoplayTimeout: 8500,
                smartSpeed: 450,
                responsive: {
                    0: {
                        items: 1
                    },
                    768: {
                        items: 2
                    },
                    1170: {
                        items: 3
                    }
                }
            });
    </script>
    <script>
        $('.carousel-infografis').owlCarousel({
        loop: true,
        center: true,
        items: 3,
        margin: 150,
        // autoplay: true,
        // dots:true,
        nav:true,
        navText: [
            "<img alt='Slider' src='assets/images/prev-btn.svg'/>",
            "<img alt='Slider' src='assets/images/next-btn.svg'/>"], 
        autoplayTimeout: 8500,
        smartSpeed: 450,
        responsive: {
                0: {
                    items: 1
                },
                768: {
                    items: 2
                },
                1170: {
                    items: 3
                }
            }
        });
    </script>


    <script src="assets/library/jQuery/jquery-3.6.0.min.js"></script>
    <script src="assets/library/OwlCarousel2-2.3.4/js/owl.carousel.js"></script>
    <script src="assets/library/aos-master/dist/aos.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script>
        AOS.init();
      </script>
    <script type="text/javascript">
        function actionToggle() {
            var action = document.querySelector('.action');
            action.classList.toggle('active')
        }

        var action = document.querySelector('.action');
        window.onscroll = function(){
            action.classList.toggle('show', window.scrollY >= 600);
        }
    </script>
    <script>
        Highcharts.chart('chart-review', {

        title: {
            text: 'Indonesia Economic Growth'
        },

        subtitle: {
                text: 'Source: BPS (Constant Price)'
        },

        xAxis: {
        accessibility: {
            rangeDescription: 'Range: 2010 to 2017'
        }
        },

        plotOptions: {
            series: {
                    label: {
                    connectorAllowed: false
                    },
                    pointStart: 2015
            },
            line : {
                    dataLabels : {
                        enabled : true,
                        // formatter : function() {
                        //     return this.y + '%';
                        // }
                    }
            }
        },

        series: [{
            name: 'Per Capita Income Growth (%)',
            data: [7.64, 6.21, 8.35, 7.90, 5.89, -3.37, 9.28],
            marker: {
                symbol: 'url(assets/images/motif-red.svg)'
            },
            color: '#ED4328'
        }, 
        {
                name: 'GDP Growth (%)',
                data: [4.88, 5.03, 5.07, 5.17, 5.02,-2.07, 3.69],
                marker: {
                    symbol: 'url(assets/images/motif-blue.svg)'
                },
                color: '#278DE1'
            },
        ],

        // legend: {
        //     title: {
        //         text: 'Source: BPS'
        //     }
        // },

        responsive: {
        rules: [{
            condition: {
            maxWidth: 500
            }
        }]
        },

        yAxis: {
            visible: false,
        },

        credits: {
            enabled: false
        },

        });
    </script>
</body>
</html>