<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNRCO Indonesia</title>
    <link rel="stylesheet" href="assets/styles/styles.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="shortcut icon" href="assets/images/logo-uncro.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="assets/library/aos-master/dist/aos.css">
</head>
<body>
    <header>
        <nav class="navbar fixed-top shadow-sm">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">
                    <img src="assets/images/logo-uncro.svg" alt="logo-uncro-indonesia" class="img-logo">
                </a>
            </div>
        </nav>
    </header>

    <main>
        <section class="hero">
            <div class="jumbotron p-4 mb-4">
                <div class="container py-5">
                  <p class="text-jumbotron">
                    United Nations In Indonesia <br>
                    <span>Country Results Report 2021</span>
                  </p>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-lg-2" style="position: relative;">
                        <div >
                            <a href="review-year.html" class="menus bg-color-bluelight active">A Year in Review</a>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-2" style="position: relative;">
                        <div>
                            <a href="inclusive-human.html" class="menus bg-color-red">Inclusive Human Development</a>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-2"  style="position: relative;">
                        <div>
                            <a href="economic-transformation.html" class="menus bg-color-yellow">Economic Transformation</a>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-2"  style="position: relative;">
                        <div>
                            <a href="green-development.html" class="menus bg-color-orange">Green Development, Climate Change, and Natural Disasters</a>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-2"  style="position: relative;">
                        <div>
                            <a href="innovation-to-accelerate.html" class="menus bg-color-greenlight">Innovation to Accelerate Progress Towards the SDGs</a>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-2"  style="position: relative;">
                        <div>
                            <a href="un-reform.html" class="menus bg-color-greendark">UN Reform in Indonesia</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="about">
            <div class="container">
                <div class="row">
                    <h3 class="text-title">A Year in Review</h3>
                </div>
                <div class="row mb-4">
                    <p class="text-content">
                        <img src="assets/images/img-content-1.webp" class="img-fluid me-4" style="float: left; width: 40%;" alt="img-conten-1">
                        In 2021, as the UN and the Government of Indonesia contended with the fallout of the pandemic’s first year, Indonesia faced a resurgent health crisis driven by COVID-19’s virulent Delta Variant. <br><br>
                        
                        At the pandemic’s July peak, Indonesia recorded more than 350,000 new COVID-19 infections one week and more than 12,400 deaths the next. Meanwhile, the pandemic’s socio-economic impacts further disadvantaged those already at risk of
                        being left behind, including migrant workers, refugees, people living with HIV, and people with disabilities. The pandemic also struck a blow to progress on gender equality with sectors such as retail, hospitality, and garment manufacturing that
                        employ many women sustaining massive job losses, and the informal sector hit harder still. <br><br>
                        
                        Young people have been similarly disadvantaged. Between 2020 and 2021, the
                        proportion of youth not in employment, education, and training doubled from 8% to
                        16.4%. Meanwhile, the proportion of youth working in the informal sector rose by 6%
                        overall between February 2020 and February 2021, with the proportion of informally
                        employed young graduates rising 13.1% in that time.
                    </p>
                </div>
                <div class="row mb-2">
                    <p class="text-content">
                        <img src="assets/images/img-content-2.webp" class="img-fluid ms-4" style="float: right; width: 40%;" alt="img-conten-2">
                        Despite the escalating challenges, however, the Government of Indonesia and the
                        UN’s extraordinary COVID-19 response and recovery efforts began to yield positive
                        results in 2021. <br><br>

                        The UN and the Government of Indonesia orchestrated one of the world’s most
                        complex vaccination campaigns across thousands of inhabited islands that span
                        three time zones. By January 19, 2022, Indonesia had administered more than 300
                        million COVID-19 vaccination doses, including most of the 87 million doses whose
                        arrival the UN facilitated through the COVAX facility. <br><br>
                        
                        Meanwhile, Gross Domestic Product (GDP) growth bounced back to 3.69%,
                        approaching the government’s growth target of 3.7%–4.5%, while GDP per capita
                        reached $4,349.5. <br><br>
                        
                        The Government’s 2021 Voluntary National Review showed that some SDG
                        indicators that had been making headway from 2015 to 2019 had veered off course,
                        including the proportion of the population living below the national poverty line, the
                        prevalence of undernourishment, and the economic growth and unemployment rate.
                        But other indicators progressed despite the pandemic.
                    </p>
                </div>
                <div class="row mb-4">
                    <p class="text-content">
                        Indonesia saw improvements in the completion rate of senior secondary education under SDG4 (quality education), the proportion of households using improved sanitation services under SDG6 (clean water and sanitation), the renewable energy share in the total final energy consumption under SDG7 (affordable and clean energy), and the proportion of children under 5 years-of-age whose births were registered by the civil registration office under SDG16 (peace, justice, and strong institutions).
                    </p>
                </div>
                <div class="row justify-content-center mb-4">
                    <div class="card w-50 p-3 shadow-sm border-0">
                        <div id="chart-review" style="width:100%; height:400px;"></div>
                    </div>
                </div>
                <div class="row mb-2">
                    <p class="text-content">
                        Indonesian Democracy improved in parallel. The 2021 Democracy Index released by The Economist Intelligence Unit ranked Indonesia 52nd place out of167 countries in 2021, compared to 64th the year before. While Indonesia remained categorised as a “flawed democracy”, it was among the 10 countries with the biggest score improvement. <br><br>
                        Indonesia also took up on a more prominent global role. On December 1, 2021, Indonesia assumed the Presidency of the Group of Twenty (G20), where it has vowed to represent the voices of less developed nations, including small island states. It has the political and diplomatic advantages of being a non-aligned, active, and strategic middle power that can potentially drive more impactful and actionable G20 resolutions. <br><br>
                        Indeed, Indonesian President Widodo’s appearance at COP26 resonated, globally. As home to the third-largest area of tropical forest cover after Brazil and Democratic Republic of Congo, and as the world’s top coal exporter, Indonesia’s commitments to halting deforestation, transitioning to renewable energy, climate finance, and net-zero carbon emissions can make a critical contribution to the global effort to arrest the climate emergency and inspire global change. <br><br>
                    </p>
                </div>
            </div>
        </section>

        <section class="footer">
            <div class="container-fluid">
            <div class="row">
                    <div class="col-lg-1" style="height: 20px; background-color: #D32027;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #E8B320;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #149F4A;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #D32027;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #EC3224;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #00BCE4;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #FBBE10;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #AD1D44;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #F06222;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #EB0F69;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #F6971D;"></div>
                    <div class="col-lg-1" style="height: 20px; background-color: #CA942B;"></div>
                </div>
            </div>
            <div class="container">
                <footer class="py-5">
                    <div class="row">              
                        <div class="col-md-8 mb-3">
                            <div class="row">
                                <p class="mb-2 p-0 text-footer">Contact Us :</p>
                                <ul class="nav flex-column">
                                    <li class="nav-item mb-3">
                                        <a href="#" class="p-0 text-nav-footer">
                                            <i class="bi bi-geo-alt-fill pe-3"></i>
                                            Perserikatan Bangsa-Bangsa | Menara
                                            Thamrin Lt.7, <br> <span style="padding-left: 35px;">Jl. MH.Thamrin Kav.3, Jakarta - Pusat,10250</span>
                                        </a>
                                    </li>
                                    <li class="nav-item mb-3">
                                        <a href="#" class="p-0 text-nav-footer">
                                            <i class="bi bi-telephone-fill pe-3"></i>
                                            +622129802300
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="row mt-5">
                                <p class="mb-2 p-0 text-footer">For more Informations :</p>
                                <ul class="nav list-unstyled">
                                    <li class="me-3"><a class="text-nav-footer" target="_blank" href="https://indonesia.un.org/"><i class="bi bi-globe me-2"></i>indonesia.un.org</a></li>
                                    <li class="me-3"><a class="text-nav-footer" target="_blank" href="https://www.instagram.com/uninindonesia/?hl=id"><i class="bi bi-instagram me-2"></i>UNinIndonesia</a></li>
                                    <li class="me-3"><a class="text-nav-footer" target="_blank" href="https://twitter.com/uninindonesia?s=21"><i class="bi bi-twitter me-2"></i>UNinIndonesia</a></li>
                                    <li class="me-3"><a class="text-nav-footer" target="_blank" href="https://web.facebook.com/UNinIndonesia"><i class="bi bi-facebook me-2"></i>United Nations in Indonesia</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3 d-flex justify-content-end">
                            <img src="assets/images/logo-uncro-footer.svg" alt="logo-uncro" class="logo-footer">
                        </div>
                    </div>
                </footer>
            </div>
        </section>
    </main>
    
    <!-- Floating menu -->
    <div class="action shadow-sm" onclick="actionToggle();">
        <span class="toggle-menu"><i class="bi bi-list"></i></span>
        <span class="text-menu">Menu</span>
        <ul class="navbar-nav shadow-sm">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">A Year in Review</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Inclusive Human Development</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Economic Tranformation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Green Development, Climate Change, and Natural Disasters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Innovation to Accelerate Progress Towards the SDGs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">UN Reform in Indonesia</a>
            </li>
        </ul>
    </div>

    <!-- End Floating menu -->
    <script src="assets/library/jQuery/jquery-3.6.0.min.js"></script>
    <script src="assets/library/OwlCarousel2-2.3.4/js/owl.carousel.js"></script>
    <script src="assets/library/aos-master/dist/aos.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script>
        AOS.init();
      </script>
    <script type="text/javascript">
        function actionToggle() {
            var action = document.querySelector('.action');
            action.classList.toggle('active')
        }

        var action = document.querySelector('.action');
        window.onscroll = function(){
            action.classList.toggle('show', window.scrollY >= 600);
        }
    </script>
    <script>
        Highcharts.chart('chart-review', {

        chart: {
            style: {
                fontFamily: 'Montserrat, bold, sans-serif'
            }
        },

        title: {
            text: 'Indonesia Economic Growth',
        },

        subtitle: {
                text: 'Source: BPS (Constant Price)',
        },

        xAxis: {
        accessibility: {
            rangeDescription: 'Range: 2010 to 2017'
        }
        },

        plotOptions: {
            series: {
                    label: {
                    connectorAllowed: false
                    },
                    pointStart: 2015
            },
            line : {
                    dataLabels : {
                        enabled : true,
                        // formatter : function() {
                        //     return this.y + '%';
                        // }
                    }
            }
        },

        series: [{
            name: 'Per Capita Income Growth (%)',
            data: [7.64, 6.21, 8.35, 7.90, 5.89, -3.37, 9.28],
            marker: {
                symbol: 'url(assets/images/motif-red.svg)'
            },
            color: '#ED4328'
        }, 
        {
                name: 'GDP Growth (%)',
                data: [4.88, 5.03, 5.07, 5.17, 5.02,-2.07, 3.69],
                marker: {
                    symbol: 'url(assets/images/motif-blue.svg)'
                },
                color: '#278DE1'
            },
        ],

        responsive: {
        rules: [{
            condition: {
            maxWidth: 500
            }
        }]
        },

        yAxis: {
            visible: false,
        },

        credits: {
            enabled: false
        },

        });
    </script>
</body>
</html>